*{
margin:0;
padding:0;
outline:0;
list-style: none;
}

.block {
background-color: #efefef;
height: 1000px;
}

.counter {
background-color:#f7941d;
padding:10px;
}

.counter ul ui {
	display: inline-block;
	width; 24%;
	text-align: center;
}

.counter ul li img {
	width:100px;
}